.gifViewer {
    text-align: center;
 
}
.gifDisplay {
   margin:2vw;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
.bodyViewer {
    text-align: center;
    width: 100vw;
    background: red;
    
   
}
.inputBox {
    background: grey;
    color: white;
    width: 200px;
    height: 75px;
    display:inline-block;
   
}
.gif {
    flex:0;
    flex-basis: 10%;
    width: 32vw;
   
}
