.gifViewer {
    text-align: center;
 
}
.gifDisplay {
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items:stretch;
    margin: 60px;
}
.bodyViewer {
    text-align: center;
    width: 100vw;
    background: red;
    
   
}
.inputBox {
    background: grey;
    color: white;
    width: 200px;
    height: 75px;
    display:inline-block;
   
}
.gif {
    flex:0;
    flex-basis: 10%;
    max-height: 10vw;
   
}
